<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" style="text-align: center;">
    <ion-label>Coodenadas</ion-label>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label>LATITUD: {{latitud}}</ion-label>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label>LONGITUD: {{longitud}}</ion-label>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-button expand="full" (click)=obtenerCoordenadas()>obtenerCoordenadas</ion-button>
  </div>
</ion-content>
